<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Inscrições - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Arquivo CSS no diretório static -->
</head>
<body>

<div class="form-container">
    <h2>Lista de Inscrições - Alunos</h2>

    <!-- Tabela de inscrições -->
    <table>
        <thead>
            <tr>
                <th>Nome do Aluno</th>
                <th>Data da Inscrição</th>
                <th>Hora de Inscrição</th>
                <th>Quantidade de Vagas</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td>{{ aluno[1] }} </td>
          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
