<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha seu Almoço - IFPB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="form-container">
    <h2>Escolha o seu Almoço</h2>
    <form action="/lista" method="POST">
        <div>
            <label for="opcao-almoço">Escolha seu almoço:</label>
            <select id="opcao-almoço" name="opcao-almoço" required>
                <option value="opcao1">Arroz, feijão e bife</option>
                <option value="opcao2">Macarrão com molho branco e frango grelhado</option>
                <option value="opcao3">Arroz, feijão e peixe frito</option>
                <option value="opcao4">Salada e omelete</option>
                <option value="opcao5">Arroz, feijão e frango assado</option>
            </select>
        </div>

        <div>
            <label for="preferencias">Alguma preferência ou restrição alimentar?</label>
            <textarea id="preferencias" name="preferencias" rows="3" placeholder=></textarea>
        </div>

        <button type="submit">Confirmar Escolha</button>
    </form>

    <div class="links">
        <a href="/cadastro">Cadastrar-se</a>
        <a href="/esqueci-senha">Esqueci a senha</a>
    </div>
</div>

</body>
</html>
