<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - IFPB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h2>Login</h2>

<form method="POST">
    <div>
        <label for="matricula">Matrícula</label>
        <input type="text" id="matricula" name="matricula" required placeholder="Digite sua matrícula">
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
    </div>
    <button type="submit">Entrar</button>
    <div class="links">
      <a href="/cadastro">Cadastrar-se</a>
      <a href="/esqueci-senha">Esqueci a senha</a>
    </div>
</form>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li>{{ message }}</li>s
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>